/* Place your CSS styles in this file */
ul {
    margin-top: 25px;
    list-style-type: none;
    text-align: center;
    border-bottom: 5px;
    border-radius:15px;
    background-color: lavender;
    font-size: 40px;
}


body { 
    background-color: black;
    border: 3px solid lightyellow;
}

img { 
    margin-left: 400px;
    margin-bottom: 80px;
}
