body {
    background-color:grey;
    border: 5px solid darkblue;
    border-radius:15px;
} 

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    color:black;
}

ul {
    list-style-type: none;
    background-color: blue;
    border-bottom: 5px;
    border-radius:15px;
    font-size: larger;
    text-align: center;
}

li {
    display: inline;
    color: antiquewhite;
    margin: 30px;
}
