/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Times New Roman", 'Times New Roman', Times, serif;
    color: black;
    margin-top: 80px;
    font-size: 50px;
}

h2 {
    font: 'Times New Roman', Times, serif;
    text-align: center;
}

p {
    font-family: "Source Arial", sans-serif;
    text-align: center;
    font-size: 18px;
}

ul {
    list-style-type: none;
    text-align: center;
    border-bottom: 5px;
    border-radius:15px;
    background-color: lavender;
    font-size: larger;
}

li {
    display: inline;
    margin: 90px;
    font-size: larger;
}

body { 
    background-color: lightgrey;
    border: 5px solid black;
}


article {
    margin-top: 80px;
    font-family: "Source Arial", sans-serif;
    padding-bottom: 100px;
}

img { 
    margin-left: 400px;
    margin-bottom: 80px;
}