h1 {
    text-align: center;
    font-family: "Times New Roman", 'Times New Roman', Times, serif;
    color: black;
    margin-bottom:200px;
}

h2 {
    font: 'Times New Roman', Times, serif;
}

p {
    font-family: "Source Arial", sans-serif;
}

ul {
    list-style-type: none;
    text-align: center;
    border-bottom: 5px;
    border-radius:15px;
    background-color: lavender;
    font-size: larger;
}

li {
    display: inline;
    margin: 60px;
}

body { 
    background-color: lightgrey;
    border: 5px solid black;
}
